<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Submission</title>
</head>
<body>
    <h2>Score Submission</h2>
    <form action="/submit" method="post">
        <label for="Math">Math: </label>
        <input type="text" name="math" id="math" required> <br><br>
        <label for="Data Science">Data Science: </label>
        <input type="text" name="data-science" id="data-science" required> <br><br>
        <label for="C">C: </label>
        <input type="text" name="c" id="c" required> <br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>